<!-- Navigation Indicator -->
<nav class="nav-indicator" id="nav-indicator">
	<ul class="nav-indicator__list">
		<li class="nav-indicator__item" data-page="1">
			<span class="nav-indicator__title">Norrn</span>
		</li>
		<li class="nav-indicator__item" data-page="2">
			<span class="nav-indicator__title">Stig</span>
		</li>
		<li class="nav-indicator__item" data-page="3">
			<span class="nav-indicator__title">Links</span>
		</li>
	</ul>
</nav>
