<!-- Fixed Scroll Indicators -->
<div
	class="scroll-indicator scroll-indicator--up scroll-indicator--fixed"
	id="scroll-up"
>
	<svg viewBox="0 0 24 24">
		<path
			d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6 1.41 1.41z"
		/>
	</svg>
</div>
<div
	class="scroll-indicator scroll-indicator--down scroll-indicator--fixed"
	id="scroll-down"
>
	<svg viewBox="0 0 24 24">
		<path
			d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"
		/>
	</svg>
</div>
