<div class="logo">
    <svg width="100%" height="100%" viewBox="0 0 1925 1925" xmlns="http://www.w3.org/2000/svg">
        <path d="M1259.02,709.574c-0,-27.16 -22.05,-49.209 -49.209,-49.209l-3.438,-0c-27.159,-0 -49.209,22.049 -49.209,49.209c-0,27.159 22.05,49.209 49.209,49.209l3.438,-0c27.159,-0 49.209,-22.05 49.209,-49.209Z" fill="var(--accent)"/>
        <path d="M1582.42,1067.29c0,-28.108 -22.82,-50.928 -50.927,-50.928c-28.108,0 -50.928,22.82 -50.928,50.928l-0,20.695c-0,28.108 22.82,50.928 50.928,50.928c28.107,-0 50.927,-22.82 50.927,-50.928l0,-20.695Z" fill="var(--accent)"/>
        <path d="M1420.72,906.996c-0,-28.108 -22.82,-50.928 -50.928,-50.928c-28.108,0 -50.928,22.82 -50.928,50.928l-0,218.726c-0,28.108 22.82,50.928 50.928,50.928c28.108,-0 50.928,-22.82 50.928,-50.928l-0,-218.726Z" fill="var(--accent)"/>
        <path d="M1259.02,937.747c-0,-28.107 -22.82,-50.928 -50.928,-50.928c-28.108,0 -50.928,22.821 -50.928,50.928l-0,214.734c-0,28.108 22.82,50.928 50.928,50.928c28.108,-0 50.928,-22.82 50.928,-50.928l-0,-214.734Z" fill="var(--accent)"/>
        <path d="M1097.32,775.574c-0,-28.108 -22.82,-50.928 -50.928,-50.928c-28.108,0 -50.928,22.82 -50.928,50.928l-0,430.131c-0,28.108 22.82,50.928 50.928,50.928c28.108,-0 50.928,-22.82 50.928,-50.928l-0,-430.131Z" fill="var(--accent)"/>
        <path d="M935.623,719.084c-0,-28.107 -22.82,-50.927 -50.928,-50.927c-28.108,-0 -50.928,22.82 -50.928,50.927l0,457.377c0,28.108 22.82,50.928 50.928,50.928c28.108,-0 50.928,-22.82 50.928,-50.928l-0,-457.377Z" fill="var(--accent)"/>
        <path d="M773.923,775.574c-0,-28.108 -22.82,-50.928 -50.928,-50.928c-28.108,0 -50.928,22.82 -50.928,50.928l0,376.907c0,28.108 22.82,50.928 50.928,50.928c28.108,-0 50.928,-22.82 50.928,-50.928l-0,-376.907Z" fill="var(--accent)"/>
        <path d="M612.223,906.996c-0,-28.108 -22.82,-50.928 -50.928,-50.928c-28.108,0 -50.928,22.82 -50.928,50.928l0,201.817c0,28.108 22.82,50.928 50.928,50.928c28.108,-0 50.928,-22.82 50.928,-50.928l-0,-201.817Z" fill="var(--accent)"/>
        <path d="M445.696,1046.8c-1.798,-28.05 -26.032,-49.363 -54.082,-47.565c-28.05,1.799 -49.363,26.033 -47.565,54.083l1.464,22.821c1.798,28.05 26.032,49.363 54.082,47.565c28.05,-1.799 49.363,-26.033 47.565,-54.083l-1.464,-22.821Z" fill="var(--accent)"/>
    </svg>
</div>
