<!-- Norrn Page -->
<div class="page page--content" id="norrn">
	<div class="page-inner">
		<svg class="section-hero-icon" viewBox="0 0 929 1007">
			<g transform="translate(-179,-5734.07)">
				<g transform="matrix(0.724894,0,0,0.704017,-1564.9,5677.31)">
					<g transform="matrix(1.37951,0,0,1.42042,2158.8,-8064.16)">
						<path d="M696.249,5767.19C686.496,5746.97 666.042,5734.1 643.593,5734.07C621.145,5734.04 600.654,5746.85 590.844,5767.04C590.844,5767.04 189.132,6593.83 189.132,6593.83C167.786,6637.76 181.054,6690.68 220.602,6719.35C260.15,6748.01 314.569,6744.15 349.68,6710.2C480.618,6583.56 607.023,6461.31 643.887,6425.66C680.879,6461.64 808.249,6585.5 939.258,6712.9C973.689,6746.38 1027.19,6750.32 1066.15,6722.24C1105.12,6694.17 1118.31,6642.17 1097.44,6598.91C1097.44,6598.91 696.249,5767.19 696.249,5767.19ZM639.447,6146.92L639.447,6072.94L624.199,6079.23L643.504,6020.77L662.809,6079.23L647.562,6073.17L647.562,6156.73L677.709,6193.15L677.997,6127.06C677.997,6120.32 674.321,6111.32 668.866,6108.18L668.866,6103.8L715.556,6103.8L715.556,6108.46C710.361,6111.67 706.895,6120.52 706.895,6127.06L706.895,6231.12C706.895,6237.65 710.337,6247 715.504,6250.21L715.504,6254.69L687.758,6254.69L647.562,6206.26L647.562,6260.18L662.809,6274.91L662.809,6324.55L643.504,6305.9L624.199,6324.55L624.199,6274.91L639.447,6260.18L639.447,6196.48L608.823,6159.58L608.984,6231.12C608.984,6237.79 612.577,6247.24 617.929,6250.41L617.929,6254.69L571.239,6254.69L571.239,6250.03C576.249,6246.79 579.569,6237.53 579.569,6231.12L579.569,6127.06C579.569,6120.44 576.023,6111.53 570.729,6108.35L570.729,6103.8L603.757,6103.8L639.447,6146.92Z"/>
					</g>
				</g>
			</g>
		</svg>
		<h2>Norrn</h2>
		<p>
			Transport agnostic post-quantum encrypted protocol for decentralized communication.
		</p>
		<p>
			A self-healing, encrypted fabric across any transport.
			Norrn automatically forms a secure mesh where peers discover each other, establish links, and route messages—completely independent of central infrastructure.
		</p>
		<a href="https://norrn.ravneberg.co" class="text-button">Read more</a>
	</div>
</div>
